---
import { getArtistUrl } from '../utils/routes';

export interface Props {
  artists: string[];
  class?: string;
}

const { artists, class: className = '' } = Astro.props;
---

<div class={className}>
  {artists.map((artist, index) => (
    <span>
      <a href={getArtistUrl(artist)} class="hover:underline">
        {artist}
      </a>
      {index < artists.length - 1 && <span> · </span>}
    </span>
  ))}
</div>